%p= link_to "#{@tweet.user.name} #{@tweet.user.surname}", user_path(@tweet.user)
%p= @tweet.text
%p= link_to @tweet.created_at.strftime("%d/%m/%Y"+" "+"%_H:%M"), [@tweet.user,@tweet]
= link_to "<<Back to home", root_path