= link_to "Add New User", new_user_path, class: "btn btn-default"
%br/
%div
  %table.table
    - @users.each do |u|
      %tr
        %td= "#{u.name} #{u.surname}"
        %td= link_to 'Show',user_path(u), class: "btn btn-default"
        %td= link_to "Edit", edit_user_path(u), class: "btn btn-default"
        %td= link_to 'Destroy', user_path(u),                    |
          method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" |


