<%=@user.name%>
<%=@user.surname%><br>
<%=@user.email%>
<%=@user.created_at%>
<%= link_to 'Destroy', user_path(@user),
            method: :delete, data: { confirm: 'Are you sure?' } %>
<h4>Bio:</h4>
<%=@user.bio%>
<h2>Add new tweet this user</h2>

<%= form_for([@user, @user.tweets.build]) do |f| %>
    <p>
      <%= f.label :text %><br>
      <%= f.text_field :text %>
    </p>
    <%= f.submit %>
    </p>
<% end %>

<h2>User tweets</h2>
count: <%=@user.tweets.count%>
<%@user.tweets.each do |t|%>
    <p><%= link_to "#{t.user.name} #{t.user.surname}", user_path(t.user) %></p>

    <p><%=t.text%></p>
    <p><%=t.created_at%></p>
    <%= link_to 'Destroy', [@user, t],
                method: :delete, data: { confirm: 'Are you sure?' } %><hr>

    <%end%><br>
<%=link_to "<<Back to home", root_path%>
<hr>